nav {
  list-style-type: none;
  width: 100%;
  background-color: darkred;
  text-align: center;
position: fixed;
  top: 0;
  left:0;
  
}
li a {
  color: white;
  text-decoration: underline;
 float: left;
  padding: 20px 40px;
    
}
li a:hover {
  background-color: grey;
  color: black;
}

body {
  background-color:#1b1b1e;

  h1 {
    
    color: darkred;
      text-shadow: 5px 5px black;
  
  }
h1:hover {
  color: white;
  font-size: 35 px;
}
