nav {
  list-style-type: none;
  width: 100%;
  background-color: darkred;
  text-align: center;
position: fixed;
  top: 0;
  left:0;
  
}
li a {
  color: white;
  text-decoration: underline;
 float: left;
  padding: 20px 40px;
    
}
li a:hover {
  background-color: grey;
  color: black;
}

body {
  background-color:#1b1b1e;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
  color: #660708;
  font-style: italic;
   text-shadow: 5px 5px black;

}

h2 {
  color: #e5383b;
  letter-spacing: 10px;
}

h4 {
font-family: "Lucida Console", "Courier New", monospace;
  color:#d3d3d3;
  
}

img:hover{
  width:40%;
    border: lightblue dashed 2px;
}

h2:hover {
  letter-spacing:18px;
}
h1:hover {
  text-shadow : 7px 7px black;
}

h4:hover {
    font-family: 'Brush Script MT', cursive;
  font-size : 30px
}
